langchain
transformers
torch
tensorflow
sentence_transformers
chromadb
requests
unidiff
openai
tiktoken
streamlit
PyGithub
python-dotenv
ipykernel
toml
networkx
pydbantic[sqlite]
psycopg2-binary
peewee